body{
  text-align: center;
}

.animal{
  width: 340px;
  height: 340px;
  margin:0;
}
.blanco-negro{
  filter: grayscale(100%);
  -webkit-filter:grayscale(100%);
}
.invertir-colores{
  -webkit-filter: invert(.8);
  filter: invert(.8);
}
.sepia{
  -webkit-filter: sepia(1);
  filter: sepia(1);
}
#select{
  margin-bottom: 10px;
}
